<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="username">Enter username</label>
        <input type="text" th:field="*{username}" id="username"/>
        </br>
        <label for="password">Enter password</label>
        <input type="text" th:field="*{password}" id="password"/>
        </br>

        <div id="roles">
            <label>Roles:
                <input type="checkbox" name="roleList"
                       th:each="role : ${allRoles}"
                       th:text="${role.getName()}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </div>

        <input type="submit" value="Add new user"/>
        <a type="button" th:href="@{/logout}">Logout</a></p>

    </form>
</div>
</body>
</html>