<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="username">Enter username</label>
        <input type="text" th:field="*{username}" id="username"/>
        </br>
        <label for="password">Enter password</label>
        <input type="text" th:field="*{password}" id="password"/>
        </br>

        <label for="roles">Roles</label>
        <div id="roles">
            <div th:each="role : ${allRoles}">
                <input type="checkbox" name="roles" th:id="${role.name}" th:value="${role.id}">
                <label th:for="${role.name}" th:text="${role.name}"/>
            </div>
        </div>

        <input type="submit" value="Add new user"/>
        <a type="button" th:href="@{/logout}">Logout</a></p>

    </form>
</div>
</body>
</html>