<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="name">Enter name</label>
        <input type="text" th:field="*{name}" id="name"/>
        </br>
        <label for="password">Enter password</label>
        <input type="text" th:field="*{password}" id="password"/>
        </br>
        <label for="age">Enter age</label>
        <input type="text" th:field="*{age}" id="age"/>
        </br>
        <label for="salary">Enter salary</label>
        <input type="text" th:field="*{salary}" id="salary"/>
        </br>
        <label for="admin">Admin</label>
        <input type="checkbox" th:name="role" th:value="${adminRole.getAuthority()}" id="admin"/>
        </br>
        <label for="user">User</label>
        <input type="checkbox" th:name="role" th:value="${userRole.getAuthority()}" id="user"/>
        </br>

        <input type="submit" value="Add user!">
    </form>
</div>
</body>
</html>