<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div>
  <th:block th:each="user : ${users}">
    <a th:href="@{/admin/{id}(id=${user.getId()})}"th:text="${user.getName()}">user</a>
    <br/>
  </th:block>
  <hr/>
  <form th:method="GET" th:action="@{/admin/new}">
    <input type="button" value="Add new user" onclick="window.location.href = 'admin/new'"/>
  </form>

</div>
</body>
</html>