<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <th:block th:each="user : ${allUsers}">
        <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getUsername()}">user</a>
        <br/>
    </th:block>
    <hr/>
    <form th:method="GET" th:action="@{/new}">
        <input type="button" value="Add new user" onclick="window.location.href = 'admin/new/'"/>
    </form>

    <a type="button" th:href="@{/logout}">Logout</a></p>
</div>
</body>
</html>